body {
  font-family: Verdana, sans-serif;
  margin: 20px;
  background-color: white;
  color: black;
}

#post-list, #post-detail {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 6px;
  background-color: white;
  box-shadow: 1px 1px 5px lightgray;
}

#post-list h3, #post-detail h3 {
  color: navy;
}

form {
  margin-top: 30px;
  padding: 20px;
  background-color: aliceblue;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 1px 1px 5px lightgray;
}


label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
}

button {
  margin-top: 15px;
  background-color: darkblue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}
